.banner {
	background-image: url('../../img/start-bg.jpg');
	background-size: cover;
	color: #fff;
	min-height: 200px;
	padding: 20px;
	text-align: center;
	.title {
		font-size: 13px;
		line-height: 20px;
		padding: 20px 0;
		text-transform: capitalize;
		strong { display: block; font-size: 16px; line-height: 30px;}
	}
	button[outline] {
		border-color: #fff;
		color: #fff;
	}
	&.top-padding {
		padding-top: 5.6rem;
	}
}
.custom-list {
	ion-item {
		border-bottom: 1px solid #dedede;
		.item-inner { border-bottom: none;}
		ion-avatar {
			margin: 0 16px 0 0;
			img {
				border-radius: 0;
			}
		}
	}
	
}
.category-list {
	ion-item {
		ion-thumbnail {
			img {
				max-width: 115px;
			}
		}
	}
}