<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="inner-content">
					
					<div class="md-card margin1 padding1" *ngIf="mode == 'list'">
						<div class="list-title">
							<h2>{{list.title}}</h2>
							<div class="action-buttons">
								<button class="md-button" type="button" (click)="addNew()">Add New</button>
							</div>
						</div>
						<div class="table-container res-table">
							<table>
								<thead>
									<tr class="title">
										<td class="id-cell">S.no</td>
										<td class="image-cell" *ngFor="#field of list.fields">{{field.title}}</td>
										<td class="action-cell a-center">Action</td>
									</tr>
								</thead>
								<tbody *ngIf="app && app.listItems">
									<tr *ngFor="#item of app.listItems | MapToIterable; #i=index">
										<td>{{i + 1}}</td>
										<td *ngFor="#field of list.fields">
											<span class="value" *ngIf="field.type == 'text'">
												<span *ngIf="field.code == 'location'">{{item[field.code] | LocationLabel}}</span>
												<span *ngIf="field.code == 'status'">{{item[field.code] | StatusLabel}}</span>												
												<span *ngIf="field.code != 'status' && field.code != 'location'">{{item[field.code]}}</span>
											</span>
											<img [src]="item[field.code]" class="thumb" *ngIf="field.type == 'image'"/>
											<div class="value" *ngIf="app.users && field.type == 'user'">{{app.users[item[field.code]].firstname}}</div>
											<div class="value" *ngIf="field.type == 'ordered_items'">
												<p *ngFor="#value of item[field.code] | MapToIterable">{{value.name}}</p>
											</div>
										</td>
										<td class="a-center">
											<a href="javascript:;" class="edit-link" (click)="editItem(item._ref)">
												<i class="material-icons edit"></i>
											</a>
											<a href="javascript:;" class="confirmDelete delete-link" (click)="startProcess(item._ref)">
												Process
											</a>
											<a href="javascript:;" class="confirmDelete delete-link" (click)="completeOrder(item._ref)">
												Complete
											</a>
											<a href="javascript:;" class="confirmDelete delete-link" (click)="cancelOrder(item._ref)">
												Cancel
											</a>
											<a href="javascript:;" class="confirmDelete delete-link" (click)="deleteItem(item._ref)">
												<i class="material-icons delete"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="md-card margin1"  *ngIf="mode == 'edit'">
						<div class="item-info">
							<form action="javascript:;" [(ngFormModel)]="form" (ngSubmit)="saveItem();">
							<input type="hidden" ngControl="_ref" [ngModel]="selectedItem._ref">
							<div class="form-fields" *ngIf="true">
								<div class="title-box table">
									<div class="image table-cell" *ngIf="selectedItem.image"><img class="thumbnail" [src]="selectedItem.image"/></div>
									<div class="detail table-cell">
										<div class="title">{{selectedItem.code ? selectedItem.code : 'Add New'}}</div>
										<div class="sub-title">{{selectedItem.user_email}}</div>
									</div>
									<div class="actions table-cell">										
										<button class="md-button inline cancel-btn f-right" type="button" (click)="cancelEdit();">cancel</button>
										<button class="md-button inline save-btn f-right" type="submit" [disabled]="!form.valid">save</button>
									</div>
								</div>
								<div class="editable-part padding1">									
									<div class="row">											
										<div class="col-md-6">
											<div class="md-select" [class.filled]="selectedItem.uid">
												<span class="placeholder">Customer</span>
												<select class="selectbox" ngControl="uid" [ngModel]="selectedItem.uid" (change)="selectedItem.uid = $event.target.value">
													<option *ngFor="#user of app.users | MapToIterable" [value]="user._ref">{{user.firstname+' '+user.lastname}}</option>
												</select>		
												<control-messages control="uid"></control-messages>
											</div>
										</div>
										<div class="col-md-6">
											<div class="md-input" [class.filled]="selectedItem.user_name">
												<span class="placeholder">Contact Name</span>
												<input type="text" class="textbox" ngControl="user_name" [ngModel]="selectedItem.user_name"/>
												<control-messages control="user_name"></control-messages>
											</div>
										</div>
									</div>									
									<div class="row">
										<div class="col-md-6">											
											<div class="md-input" [class.filled]="selectedItem.user_email">
												<span class="placeholder">Email</span>
												<input type="text" class="textbox" ngControl="user_email" [ngModel]="selectedItem.user_email" [disabled]="selectedItem.user_email"/>
												<control-messages control="user_email"></control-messages>
											</div>
										</div>
										<div class="col-md-6">
											<div class="md-input" [class.filled]="selectedItem.user_phone">
												<span class="placeholder">Phone</span>
												<input type="text" class="textbox" ngControl="user_phone" [ngModel]="selectedItem.user_phone" [disabled]="selectedItem.user_phone"/>
												<control-messages control="user_phone"></control-messages>
											</div>
										</div>
									</div>	
									<div class="row">
										<div class="col-md-6">
											<div class="md-input md-textarea" [class.filled]="selectedItem.user_address">
												<span class="placeholder">Address</span>
												<textarea class="textbox" ngControl="user_address" [ngModel]="selectedItem.user_address"></textarea>
												<control-messages control="user_address"></control-messages>
											</div>
										</div>	
										<div class="col-md-6">	
											<input type="hidden" ngControl="ordered_items" [ngModel]="selectedItem.ordered_items">
											<div class="md-select multiselect" *ngIf="!selectedItem.code || !selectedItem.ordered_items">
												<span class="placeholder">Ordered Items</span>												
												<select class="selectbox" [ngModel]="selectedItem.product_list" (change)="updateItems($event)" multiple="true">
													<option *ngFor="#product of app.products | MapToIterable" value="{{product._ref}}">
														{{product.name}}
													</option>
												</select>		
												<control-messages control="ordered_items"></control-messages>
											</div>
											<div class="md-list" *ngIf="selectedItem.code && selectedItem.ordered_items">
												<span class="placeholder">Ordered Items</span>
												<p *ngFor="#item of selectedItem.ordered_items | MapToIterable" class="list-item">{{item.name}} - Rs. {{item.price}}</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="md-select" [class.filled]="selectedItem.convinient_day">
												<span class="placeholder">Convinient Day</span>
												<select class="selectbox" ngControl="convinient_day" [ngModel]="selectedItem.convinient_day" (change)="selectedItem.convinient_day = $event.target.value">
													<option *ngFor="#day of app.config.convinient_day | MapToIterable" [value]="day.code">{{day.label}}</option>
												</select>		
												<control-messages control="convinient_day"></control-messages>
											</div>
										</div>
										<div class="col-md-6">
											<div class="md-select" [class.filled]="selectedItem.convinient_time">
												<span class="placeholder">Convinient Time</span>
												<select class="selectbox" ngControl="convinient_time" [ngModel]="selectedItem.convinient_time" (change)="selectedItem.convinient_time = $event.target.value">
													<option *ngFor="#time of app.config.convinient_time | MapToIterable" [value]="time.code">{{time.label}}</option>
												</select>		
												<control-messages control="convinient_time"></control-messages>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="md-select" [class.filled]="selectedItem.user_location">
												<span class="placeholder">Location</span>
												<select class="selectbox" ngControl="user_location" [ngModel]="selectedItem.user_location" (change)="selectedItem.user_location = $event.target.value">
													<option *ngFor="#option of app.config.location | MapToIterable" [value]="option.code">{{option.label}}</option>
												</select>		
												<control-messages control="user_location"></control-messages>
											</div>
										</div>
										<div class="col-md-6">
											<div class="md-select" [class.filled]="selectedItem.status">
												<span class="placeholder">Status</span>
												<select class="selectbox" ngControl="status" [ngModel]="selectedItem.status" (change)="selectedItem.status = $event.target.value" [disabled]="selectedItem.status">
													<option *ngFor="#status of app.config.status | MapToIterable" [value]="status.code">{{status.label}}</option>
												</select>		
												<control-messages control="status"></control-messages>
											</div>
										</div>
									</div>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>